.mngchrg-container{
    height:572px;
    background-color: red;
    padding: 30px;
}
.mngchrg-table{
    height:420px;
    background-color: #fff; 
    border-radius: 5px;
    margin-top: 25px !important;
    padding: 30px;
}
.header{
    height:50px;
    background-color: #fff; 
    border-radius: 5px;
    margin-bottom: 15px;
}
.head-title{
    padding-top: 15px;
}
.title{
    height: 28px;
    text-align: left;
    border-left: 3px solid #42a2fc;
    padding: 0px 5px;
    font-size: 20px !important;
}
.btn-container{
  height: 50px;
  margin-top: 20px;
  text-align: left;
  text-transform: capitalize !important;
}
.btn-grp{
    margin-right: 10px !important;
    height: 30px !important;
    background-color: #379efd !important;
    text-transform: capitalize !important;
}
.btn-ungrp{
    height: 30px !important;
    text-transform: capitalize !important;
}
.profit-text{
    float: right;
    font-size: 12px;
}
.moreCharges-text{
    float: left;
    font-size: 14px;
}
.MuiCheckbox-colorPrimary.Mui-checked,.PrivateSwitchBase-checked-6, .Mui-checked {
    color: #379efd !important;
}
.Mui-selected{
    background-color: #ecf9fd !important;
    border-left: 5px solid #42a2fc;
    
}
.grupPopUp{
    height: 200px;
    width: 300px;
   
   
}
.grp-data{
    text-align: center !important;
}